@import "../../styles/abstracts/mixins";

.button {
  $vertical-padding: 1rem;
  $horizontal-padding: 2rem;
  border: 0;
  @include flexCenter;
  flex-direction: row;
  padding: $vertical-padding $horizontal-padding;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #ffffff;
  background: transparent;
  cursor: pointer;

  &--small {
    font-size: 1rem;
  }

  &--rounded {
    border-radius: 3rem;
  }

  &--filled {
    padding: calc($vertical-padding + 3px) $horizontal-padding;
    background: linear-gradient(97.86deg, #89c6ff -38.38%, #3633d0 71.88%);

    &:hover {
      background: linear-gradient(-35.14deg, #89c6ff -38.38%, #3633d0 71.88%);
    }
  }

  &--outline {
    position: relative;
    background: #13112a;
    background-clip: padding-box;
    border: 3px solid transparent;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -3px;
      border-radius: inherit;
      background: linear-gradient(97.86deg, #89c6ff -38.38%, #3633d0 71.88%);
    }
    &:hover::before {
      background: linear-gradient(-35.14deg, #89c6ff -38.38%, #3633d0 71.88%);
    }
  }
}
