@import "../../styles/abstracts/mixins";

$image-rotation-degree: 5deg;

.hero {
  padding: 10rem 6rem;
  min-height: 80vh;

  &__container {
    height: 100%;
  }
  &__detail-container {
    height: 100%;
  }
  &__title {
    font-weight: 700;
    font-size: 6rem;
    line-height: 6.5rem;
    letter-spacing: 0.015em;
    font-family: "Space Mono";
    color: #ffffff;
    margin-bottom: 3rem;

    &--highlight {
      background: linear-gradient(97.86deg, #ff8d8d -38.38%, #f7fc0e 71.88%),
        linear-gradient(97.86deg, #ff8d8d -38.38%, #f7fc0e 71.88%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__desc {
    font-family: "Poppins";
    width: 75%;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
    letter-spacing: 0.1rem;

    color: #ffffff;

    margin-bottom: 3rem;
  }
  &__cta-container {
    @include flexCenter;
    justify-content: flex-start;
    gap: 2rem;
  }

  &__graphic-container {
    @include flexCenter;
  }
  &__graphics {
  }
  &__nft-graphics {
    position: relative;
    // height: 55vh;
    @include flexCenter;
  }
  &__nft-image-main,
  &__nft-image {
    position: relative;
    width: 36rem;
    height: 40rem;
    border: 3px solid #ffffff;
    border-radius: 1rem;
    transform-origin: 50% 120%;
    animation: 0.5s ease 0s 1 normal none running all;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      border-radius: 1rem;
    }
  }
  &__nft-image-secondary {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__nft-image {
    position: absolute;

    &:nth-child(1) {
      z-index: 6;
      transform: rotate(calc(1 * $image-rotation-degree));
    }
    &:nth-child(2) {
      z-index: 4;
      transform: rotate(calc(2 * $image-rotation-degree));
    }
  }
  &__brand-graphics {
    width: 65rem;
    height: 12rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1.5rem);
    border-radius: 0.7rem;
    position: relative;
    z-index: 10;
    @include flexCenter;
    justify-content: space-around;
    margin-top: -5rem;
    border: 3px solid #ffffff;
  }
  &__brand-image {
  }
}
