// ! Media Berak points
// ! 0-600px    : Phone
// ! 600-900px  : tablet Portrait
// ! 900-1200px : tablet landscape
// ! 1200-1800px: Normal
// ! 1800px +   : Big Desktop

// ! Order => Base + typography > general layout + grid > page layout > components

// ! 16px = 1em
// ! 600px = 37.5em
// ! 900px = 56.25em
// ! 1200px = 75em
// ! 1800px = 112.5em
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == bid-desk {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
