@import "../../styles/abstracts/mixins";

.explore {
  padding: 5rem;
  &__title {
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 6rem;
    line-height: 76px;
    letter-spacing: 0.005em;
    color: #ffffff;
    margin-bottom: 2rem;
  }
  &__tab-container {
    @include flexCenter;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
  &__card-list {
    padding: 3rem 5rem;
  }
  &__card-container {
    width: 100%;
  }
  &__card {
    margin: 1rem 0.5rem;
    padding: 1rem;
    border: 3px solid #ffffff;
    overflow: hidden;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
    transition: all 0.2s;
  }
  &__card:hover &__nft-image {
    height: 25.7rem;
  }
  &__nft-image {
    height: 30rem;
    border-radius: 1rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__explore-nft-detail-container {
    padding: 1.5rem 0;
    @include flexCenter;
    justify-content: space-between;
  }
  &__explore-nft-detail {
    &-title {
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 2.8rem;
      letter-spacing: 0.005em;
      color: #ffffff;
      font-family: "Poppins";
      margin-bottom: 0.5rem;
    }
    &-user {
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 128.5%;
      letter-spacing: 0.005em;
      color: #ffffff;
      opacity: 0.5;
      font-family: "Poppins";
      cursor: pointer;
      margin-bottom: 0.5rem;
      display: block;
      &:hover {
        opacity: 1;
      }
    }
    &-price {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 20.8105px;
      line-height: 128.5%;
      letter-spacing: 0.005em;

      background: linear-gradient(97.86deg, #ff8d8d -38.38%, #f7fc0e 71.88%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  &__card:hover &__explore-nft-cta {
    display: block;
  }
  &__explore-nft-cta {
    width: 100%;
    display: none;
  }
  &__view-more {
    @include flexCenter;
  }
}
