@import "../../styles/abstracts/mixins";

.trending {
  padding: 5rem 0;

  &__detail-container {
    padding-bottom: 10rem;
  }
  &__title-container {
  }
  &__title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 5.5rem;
    line-height: 6rem;
    letter-spacing: 0.005em;
    color: #ffffff;

    @media (min-width: 426px) and (max-width: 768px) {
      & {
        font-size: 4rem;
        line-height: 5rem;
      }
    }
    @media (max-width: 426px) {
      & {
        font-size: 3.5rem;
        text-align: center;
      }
    }
  }
  &__desc-container {
  }
  &__desc {
    font-family: "Space Mono";
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.3rem;
    text-align: justify;
    color: #ffffff;
    opacity: 0.5;
    @media (min-width: 426px) and (max-width: 768px) {
      & {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
    @media (max-width: 426px) {
      & {
        text-align: center;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
  &__trending-container {
  }
  &__trending-card-container {
    position: relative;
    @include flexCenter;
  }
  &__trending-card {
    margin-bottom: 10rem;
  }
  &__trending-nft-image {
    width: 40rem;
    height: 32rem;
    border: 3px solid #ffffff;
    border-radius: 1rem;
    overflow: hidden;

    @media (min-width: 426px) and (max-width: 768px) {
      & {
        width: 35rem;
        height: 27rem;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 0;
    }
  }
  &__trending-nft-detail-container {
    border: 3px solid #ffffff;
    overflow: hidden;
    width: 80%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    border-radius: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    padding: 1.5rem 2.5rem;
    @include flexCenter;
    justify-content: space-between;

    @media (min-width: 769px) and (max-width: 1027px) {
      & {
        width: 90%;
      }
    }
    @media (min-width: 426px) and (max-width: 768px) {
      & {
        width: 95%;
      }
    }
    @media (max-width: 426px) {
      & {
        width: 95%;
      }
    }
  }
  &__trending-nft-detail {
    &-title {
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 2.8rem;
      letter-spacing: 0.005em;
      color: #ffffff;
      font-family: "Poppins";
      margin-bottom: 0.5rem;
    }
    &-user {
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 100%;
      letter-spacing: 0.005em;
      color: #ffffff;
      opacity: 0.5;
      font-family: "Poppins";
      cursor: pointer;
      margin-bottom: 0.5rem;
      display: block;
      &:hover {
        opacity: 1;
      }
    }
    &-price {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 128.5%;
      letter-spacing: 0.005em;

      background: linear-gradient(97.86deg, #ff8d8d -38.38%, #f7fc0e 71.88%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  &__trending-nft-cta {
  }
}
