// scrollbar
html::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(49px);
  border-radius: 20px;
}

html::-webkit-scrollbar {
  width: 0px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 30%);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-clip: content-box;
  border: 4px solid transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
